packages/Respond.*
packages/Newtonsoft.Json.*
packages/Modernizr.*
packages/Microsoft.jQuery.Unobtrusive.Validation.*
packages/Microsoft.Web.Infrastructure.*
packages/WebGrease.*
packages/Microsoft.AspNet.Razor.*
packages/bootstrap.*
packages/Microsoft.AspNet.Mvc.*
packages/EntityFramework.*
packages/Microsoft.AspNet.WebPages.*
SMA.WebExample/obj/
packages/Microsoft.AspNet.Web.Optimization.*
packages/Antlr.*
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.*
SMA.WebExample/bin/
packages/Microsoft.Net.Compilers.*
packages/jQuery.*
