@{
    ViewBag.Title = "Home Page";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Help</h3>
    </div>
    <div class="panel-body">
        Select one option from the main menu
    </div>
</div>